<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CoolMeeting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePwdServlet</display-name>
    <servlet-name>ChangePwdServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.ChangePwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePwdServlet</servlet-name>
    <url-pattern>/ChangePwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterJspServlet</display-name>
    <servlet-name>RegisterJspServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.RegisterJspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterJspServlet</servlet-name>
    <url-pattern>/RegisterJspServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckUnameServlet</display-name>
    <servlet-name>AjaxCheckUnameServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.AjaxCheckUnameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckUnameServlet</servlet-name>
    <url-pattern>/AjaxCheckUnameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveAccountServlet</display-name>
    <servlet-name>ApproveAccountServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.ApproveAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveAccountServlet</servlet-name>
    <url-pattern>/ApproveAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatusServlet</display-name>
    <servlet-name>ChangeStatusServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.ChangeStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatusServlet</servlet-name>
    <url-pattern>/ChangeStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchStaffServlet</display-name>
    <servlet-name>SearchStaffServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.SearchStaffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStaffServlet</servlet-name>
    <url-pattern>/SearchStaffServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchDepartmentServlet</display-name>
    <servlet-name>SearchDepartmentServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.SearchDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchDepartmentServlet</servlet-name>
    <url-pattern>/SearchDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDepartmentServlet</display-name>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.AddDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDepartmentServlet</servlet-name>
    <url-pattern>/AddDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDepartmentServlet</display-name>
    <servlet-name>DeleteDepartmentServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.DeleteDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDepartmentServlet</servlet-name>
    <url-pattern>/DeleteDepartmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateDepartmentServlet</display-name>
    <servlet-name>UpdateDepartmentServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.UpdateDepartmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateDepartmentServlet</servlet-name>
    <url-pattern>/UpdateDepartmentServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>com.sxit.CoolMeet.filter.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <filter>
    <display-name>CharacterEncodingFilter</display-name>
    <filter-name>CharacterEncodingFilter</filter-name>
    <filter-class>com.sxit.CoolMeet.filter.CharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckRoomNumServlet</display-name>
    <servlet-name>AjaxCheckRoomNumServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.AjaxCheckRoomNumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckRoomNumServlet</servlet-name>
    <url-pattern>/AjaxCheckRoomNumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckRoomNameServlet</display-name>
    <servlet-name>AjaxCheckRoomNameServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.AjaxCheckRoomNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckRoomNameServlet</servlet-name>
    <url-pattern>/AjaxCheckRoomNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMeetingRoomServlet</display-name>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.AddMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMeetingRoomServlet</servlet-name>
    <url-pattern>/AddMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMeetingRoomServlet</display-name>
    <servlet-name>SearchMeetingRoomServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.SearchMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMeetingRoomServlet</servlet-name>
    <url-pattern>/SearchMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailMeetingRoomServlet</display-name>
    <servlet-name>DetailMeetingRoomServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.DetailMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailMeetingRoomServlet</servlet-name>
    <url-pattern>/DetailMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxCheckRoomTakeupServlet</display-name>
    <servlet-name>AjaxCheckRoomTakeupServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.AjaxCheckRoomTakeupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxCheckRoomTakeupServlet</servlet-name>
    <url-pattern>/AjaxCheckRoomTakeupServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMeetingRoomServlet</display-name>
    <servlet-name>EditMeetingRoomServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.EditMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMeetingRoomServlet</servlet-name>
    <url-pattern>/EditMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMeetingRoomServlet</display-name>
    <servlet-name>DeleteMeetingRoomServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.DeleteMeetingRoomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMeetingRoomServlet</servlet-name>
    <url-pattern>/DeleteMeetingRoomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookMeetingJspServlet</display-name>
    <servlet-name>BookMeetingJspServlet</servlet-name>
    <servlet-class>com.sxit.CoolMeet.Servlet.BookMeetingJspServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookMeetingJspServlet</servlet-name>
    <url-pattern>/BookMeetingJspServlet</url-pattern>
  </servlet-mapping>
</web-app>